html {
    background: url(../public/images/FIFA-23-review---header.webp)no-repeat;
  }

/* Add a hover effect to grow the profile card slightly */
.card:hover .card-img {
    transform: scale(1.8); /* Increase the scale on hover */
    transition: transform 0.5s ease; /* Add a smooth transition effect */
  }

  .card:hover .card-body{
    transform:translateY(50px) ;
    transition: transform 0.5s ease;
  }

  